<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="SecretAuthenticationCheapAwsome" value="aWH1EX7ladA8C/oWJX5nVLoEa4XKz2a64yaWVvzioNYcEo8Le8caJw=="/>
    <add key="CheapAwsomeEndPoint" value="https://webbedsdevtest.azurewebsites.net/api/findBargain?destinationId={0}&amp;nights={1}&amp;code={2}"/>
    <add key="SearchTimeOutMilliseconds" value="1000"/>
    <add key="CacheExpirationTime" value="15"/>
  </appSettings>
</configuration>